In [1]:
import csv
from itertools import islice
f = open('10SecondStepPriceEvolution2.csv', 'r')
reader = csv.reader(f)
print(list(islice(reader,5)))

[['\ufeffF10', 'Cur', 'P10', 'P20', 'P30', 'P40', 'P50', 'P60'], ['1816.2500000000', '1814.0700000000', '1814.3500000000', '1814.8300000000', '1814.3300000000', '1813.9000000000', '1813.9400000000', '1812.8600000000'], ['1815.5500000000', '1814.1400000000', '1814.2000000000', '1814.8300000000', '1814.2200000000', '1813.2300000000', '1814.1400000000', '1813.3900000000'], ['1816.2300000000', '1814.8900000000', '1814.2000000000', '1814.8300000000', '1814.2200000000', '1813.4700000000', '1814.1400000000', '1813.3900000000'], ['1816.2300000000', '1815.3300000000', '1814.2000000000', '1814.2900000000', '1814.3400000000', '1813.4700000000', '1814.1900000000', '1813.3900000000']]

In [2]:
import pandas as pd
df = pd.read_csv("10SecondStepPriceEvolution2.csv")
print(df)

           F10      Cur      P10      P20      P30      P40      P50      P60
0      1816.25  1814.07  1814.35  1814.83  1814.33  1813.90  1813.94  1812.86
1      1815.55  1814.14  1814.20  1814.83  1814.22  1813.23  1814.14  1813.39
2      1816.23  1814.89  1814.20  1814.83  1814.22  1813.47  1814.14  1813.39
3      1816.23  1815.33  1814.20  1814.29  1814.34  1813.47  1814.19  1813.39
4      1816.23  1815.20  1814.20  1813.36  1814.34  1813.47  1814.37  1814.22
...        ...      ...      ...      ...      ...      ...      ...      ...
80485  1849.97  1851.10  1851.10  1851.10  1851.10  1851.12  1851.05  1851.12
80486  1849.97  1851.10  1851.10  1851.10  1851.10  1851.10  1851.12  1851.05
80487  1849.97  1851.10  1851.10  1851.10  1851.10  1851.10  1851.12  1851.05
80488  1849.97  1851.10  1851.10  1851.10  1851.10  1851.10  1851.12  1851.05
80489  1849.97  1851.10  1851.10  1851.10  1851.10  1851.10  1851.12  1851.05

[80490 rows x 8 columns]

In [3]:
df["F10"] = df["F10"] - df["Cur"]
df["P10"] = df["P10"] - df["Cur"]
df["P20"] = df["P20"] - df["Cur"]
df["P30"] = df["P30"] - df["Cur"]
df["P40"] = df["P40"] - df["Cur"]
df["P50"] = df["P50"] - df["Cur"]
df["P60"] = df["P60"] - df["Cur"]
print(df)

        F10      Cur   P10   P20   P30   P40   P50   P60
0      2.18  1814.07  0.28  0.76  0.26 -0.17 -0.13 -1.21
1      1.41  1814.14  0.06  0.69  0.08 -0.91  0.00 -0.75
2      1.34  1814.89 -0.69 -0.06 -0.67 -1.42 -0.75 -1.50
3      0.90  1815.33 -1.13 -1.04 -0.99 -1.86 -1.14 -1.94
4      1.03  1815.20 -1.00 -1.84 -0.86 -1.73 -0.83 -0.98
...     ...      ...   ...   ...   ...   ...   ...   ...
80485 -1.13  1851.10  0.00  0.00  0.00  0.02 -0.05  0.02
80486 -1.13  1851.10  0.00  0.00  0.00  0.00  0.02 -0.05
80487 -1.13  1851.10  0.00  0.00  0.00  0.00  0.02 -0.05
80488 -1.13  1851.10  0.00  0.00  0.00  0.00  0.02 -0.05
80489 -1.13  1851.10  0.00  0.00  0.00  0.00  0.02 -0.05

[80490 rows x 8 columns]

In [4]:
print(df['Cur'])

0        1814.07
1        1814.14
2        1814.89
3        1815.33
4        1815.20
          ...
80485    1851.10
80486    1851.10
80487    1851.10
80488    1851.10
80489    1851.10
Name: Cur, Length: 80490, dtype: float64

In [5]:
df.drop('Cur', axis=1, inplace=True)

print(df)

        F10   P10   P20   P30   P40   P50   P60
0      2.18  0.28  0.76  0.26 -0.17 -0.13 -1.21
1      1.41  0.06  0.69  0.08 -0.91  0.00 -0.75
2      1.34 -0.69 -0.06 -0.67 -1.42 -0.75 -1.50
3      0.90 -1.13 -1.04 -0.99 -1.86 -1.14 -1.94
4      1.03 -1.00 -1.84 -0.86 -1.73 -0.83 -0.98
...     ...   ...   ...   ...   ...   ...   ...
80485 -1.13  0.00  0.00  0.00  0.02 -0.05  0.02
80486 -1.13  0.00  0.00  0.00  0.00  0.02 -0.05
80487 -1.13  0.00  0.00  0.00  0.00  0.02 -0.05
80488 -1.13  0.00  0.00  0.00  0.00  0.02 -0.05
80489 -1.13  0.00  0.00  0.00  0.00  0.02 -0.05

[80490 rows x 7 columns]

In [6]:
print(df['F10'].apply(lambda x: 1 if x >= 1 else -1 if x <= -1 else 0).value_counts())

F10
 0    50859
-1    14928
 1    14703
Name: count, dtype: int64

In [7]:
df['F10'] = df['F10'].apply(lambda x: 1 if x >= 1 else -1 if x <= -1 else 0)

In [8]:
#print(df[df['F10'] == 0])
zeros = df[df['F10'] == 0]
ones  = df[df['F10'] == 1]
negas = df[df['F10'] == -1]

In [9]:
print(zeros)
zeros = zeros.sample(frac=1).reset_index(drop=True)
zeros = zeros[:15000]
print(zeros)

       F10   P10   P20   P30   P40   P50   P60
3        0 -1.13 -1.04 -0.99 -1.86 -1.14 -1.94
5        0 -2.10 -1.84 -0.62 -2.59 -1.85 -1.59
6        0 -2.26 -1.91 -0.84 -2.82 -2.56 -2.05
7        0 -1.70 -2.26 -1.03 -3.01 -2.69 -2.24
8        0 -1.30 -2.30 -1.54 -2.95 -2.73 -2.75
...    ...   ...   ...   ...   ...   ...   ...
80473    0  0.00  0.00  0.02 -0.05  0.02 -0.35
80474    0  0.00  0.00  0.02 -0.05  0.02 -0.35
80475    0  0.00  0.00  0.02 -0.05  0.02  0.02
80476    0  0.00  0.00  0.02  0.02  0.02  0.02
80477    0  0.00  0.00  0.00  0.02 -0.05  0.02

[50859 rows x 7 columns]
       F10   P10   P20   P30   P40   P50   P60
0        0 -1.00 -0.51  4.23  2.71  6.13  7.56
1        0 -1.68  1.11  2.91  2.18 -1.72  0.59
2        0 -0.45 -1.52 -4.14 -3.34 -3.66 -3.47
3        0  0.00 -0.55 -0.16  0.90  1.00  0.99
4        0  0.11  0.36  0.36  0.83  0.68  0.62
...    ...   ...   ...   ...   ...   ...   ...
14995    0  1.27  0.00 -1.11 -0.43 -1.11 -1.29
14996    0  1.25  1.52  2.46  2.36  3.64  3.87
14997    0 -0.29 -0.15 -0.14  0.19  0.57  0.61
14998    0  0.74  1.28  1.78  1.98  2.95  2.42
14999    0 -0.40  0.14  1.85  1.90  2.22  2.59

[15000 rows x 7 columns]

In [10]:
df = pd.concat([zeros, ones, negas])
df = df.sample(frac=1).reset_index(drop=True)
print(df)

       F10   P10   P20   P30   P40   P50   P60
0        0 -0.40 -0.52 -0.67 -0.40 -0.11  0.15
1        1  1.70  2.10  2.10  1.35  5.13  5.13
2       -1  1.27  1.23  1.73  1.05  1.04  0.58
3       -1  0.30  1.53 -1.60 -2.26 -1.15 -8.38
4        0  0.31 -1.88 -1.11 -0.47  0.76  2.48
...    ...   ...   ...   ...   ...   ...   ...
44626    1  0.63  1.43  1.07  0.09 -0.33 -0.35
44627    0 -0.38  0.60  0.96  1.83  1.57  1.48
44628   -1  3.34  1.43 -0.97 -1.36 -1.05 -1.08
44629    0 -0.23  0.33 -0.93 -0.82 -1.75 -1.57
44630   -1 -1.90 -2.53 -4.27 -5.36 -4.11 -3.59

[44631 rows x 7 columns]

In [11]:
print(df['F10'].apply(lambda x: 1 if x >= 1 else -1 if x <= -1 else 0).value_counts())

F10
 0    15000
-1    14928
 1    14703
Name: count, dtype: int64

In [12]:
train_dataset = df.head(40000)
test_dataset = df.tail(df.shape[0] - 40000)
print(train_dataset)
print(test_dataset)
#print(df)

       F10   P10   P20   P30   P40   P50   P60
0        0 -0.40 -0.52 -0.67 -0.40 -0.11  0.15
1        1  1.70  2.10  2.10  1.35  5.13  5.13
2       -1  1.27  1.23  1.73  1.05  1.04  0.58
3       -1  0.30  1.53 -1.60 -2.26 -1.15 -8.38
4        0  0.31 -1.88 -1.11 -0.47  0.76  2.48
...    ...   ...   ...   ...   ...   ...   ...
39995   -1 -0.17 -4.26 -2.99 -2.90 -3.29 -4.69
39996    1  1.23  1.92  4.50  5.19  5.62  2.90
39997    1  0.44  0.72  1.08  3.08  2.31  0.72
39998    0 -0.40 -1.23 -1.29 -0.94 -0.08 -0.07
39999    0 -0.24  0.38  0.12  0.49  0.46 -0.38

[40000 rows x 7 columns]
       F10   P10   P20    P30    P40    P50    P60
40000    0  0.47  0.30   0.25   0.06  -0.14   0.31
40001   -1 -0.77  7.07  10.67   8.46   7.02  13.65
40002    1  1.85  6.61  10.21  12.07  12.50  13.85
40003    1 -0.06  2.28   0.20   0.00   0.20  -1.11
40004    0 -0.54 -0.73  -3.34  -3.47  -4.45  -5.95
...    ...   ...   ...    ...    ...    ...    ...
44626    1  0.63  1.43   1.07   0.09  -0.33  -0.35
44627    0 -0.38  0.60   0.96   1.83   1.57   1.48
44628   -1  3.34  1.43  -0.97  -1.36  -1.05  -1.08
44629    0 -0.23  0.33  -0.93  -0.82  -1.75  -1.57
44630   -1 -1.90 -2.53  -4.27  -5.36  -4.11  -3.59

[4631 rows x 7 columns]

In [13]:
import torch
from torch import nn
from torch.utils.data import DataLoader

train_dataloader = DataLoader(train_dataset, batch_size=64)
test_dataloader = DataLoader(test_dataset, batch_size=64)

In [14]:
print(train_dataloader)

<torch.utils.data.dataloader.DataLoader object at 0x7f2b2bf992d0>

In [56]:
import os
import pandas as pd
from torch.utils.data import Dataset

class CustomImageDataset(Dataset):
    def __init__(self, dataframe, labels):
        self.dataframe = dataframe
        self.labels = labels
        

    def __len__(self):
        return len(self.labels)

    def __getitem__(self, idx):
        #return list(self.dataframe.iloc[idx]), self.labels.iloc[idx]
        return self.dataframe.iloc[idx], self.labels.iloc[idx]

In [57]:
tlbl = train_dataset['F10']
tset = train_dataset.drop('F10', axis=1)
cid = CustomImageDataset(tset, tlbl)
print(cid[0])

(P10   -0.40
P20   -0.52
P30   -0.67
P40   -0.40
P50   -0.11
P60    0.15
Name: 0, dtype: float64, 0)

In [55]:
tlbl = train_dataset['F10']
tset = train_dataset.drop('F10', axis=1)
cid = CustomImageDataset(tset, tlbl)
print(cid[0])

([-0.40000000000009095, -0.5199999999999818, -0.6700000000000728, -0.40000000000009095, -0.11000000000012733, 0.14999999999986358], 0)

In [32]:
train_dataloader = DataLoader(cid, batch_size=64)
print(train_dataloader)

<torch.utils.data.dataloader.DataLoader object at 0x7f2b2979b050>